[Desktop Entry]
Encoding=UTF-8
Name=kaishen
Comment=kaishen P2P Cryptocurrency
Comment[fr]=kaishen, monnaie virtuelle cryptographique pair à pair
Comment[tr]=kaishen, eşten eşe kriptografik sanal para birimi
Exec=kaishen-qt %u
Terminal=false
Type=Application
Icon=kaishen128
MimeType=x-scheme-handler/kaishen;
Categories=Office;Finance;
